<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

<body>

<br>
<br>

<div style="background-color:light-grey,text-color:red,padding:20px" align="center">
{% if message %}
    {{ message }} !! <br>
{% else %}
    No message set<br>
{% endif %}

{% if my_name %}
    I am {{ my_name }}
{% endif %}

{% if hostname %}
   on {{ hostname }}
{% endif %}

{% if time %}
    <br>the time is {{ time }}<br>
{% else %}
    <br>the time is unknown <br>
{% endif %}

{% if my_var %}
    my_var : {{ my_var }} <br>
{% else %}
    my_var not set <br>
{% endif %}
</div>
</body>
</html>