<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="refresh" content="2">
  </head>

<body>

<br>
<br>

<div style="background-color:light-grey,text-color:red,padding:20px" align="center">
<table>
{% if message %}
    <tr>
        <td colspan="2">{{ message }} !!</td>
    </tr>
{% else %}
    <tr>
        <td colspan="2">No message set</td>
    </tr>
{% endif %}

{% if hostname %}
    <tr>
        <th align="left">This is container :</th> <td>{{ hostname }}</td>
    </tr>
{% endif %}

{% if time %}
    <tr>
        <th align="left">The time is :</th> <td>{{ time }}</b></td>
    </tr>
{% else %}
    <tr>
        <td colspan="2"> I don't know what the time is </td>>
    </tr>
{% endif %}

{% if my_name %}
    <tr>
        <th align="left">My name is :</th> <td>{{ my_name }}</b> </td>
    </tr>
{% else %}
    I don't know my name <br>
{% endif %}
{% if version %}
    <tr>
        <th align="left">Flask-demo version is :</th> <td>{{ version }}</b> </td>
    </tr>
{% else %}
    Unknown version <br>
{% endif %}
</table>
</div>
</body>
</html>
